<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.open_mail_app">
    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>
